@model List<Book>
@{
    ViewData["Title"] = "Books";
}

<h2>Books</h2>

<a asp-action="Create" class="btn btn-primary">Add New Book</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Published Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.PublishedDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-info">Details</a>
                        <a href="@Url.Action("Edit", new { id = book.Id })" class="btn btn-primary">Güncelle</a>
                        <a href="@Url.Action("Delete", new { id = book.Id })" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
